<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne" (click)="toggleDisplay()">
      <button class="accordion-button collapsed" type="button">
       <strong>{{ singleQuestion.question1 }}</strong> 
      </button>
    </h2>
    <div *ngIf="display">
      <div class="accordion-body">
        {{ singleQuestion.answer }}
      </div>
    </div>
  </div>
</div>
Favorites: {{ singleQuestion.numFav }}
<button *ngIf="isFavorited == false && loggedIn == true" (click)="addToFavorites()">☆</button>
<button *ngIf="isFavorited == true && loggedIn == true" (click)="removeFavorites()">★</button>
<br />
<br />
<button *ngIf="isAuthored == true" (click)="deleteQuestion()">Delete</button> 